<?xml version="1.0" encoding="UTF-8"?>
<!-- backupGlobals disabled for phpBB 3.3 + phpunit 7.5 on PHP 8.2 -->
<phpunit backupGlobals="false"
	bootstrap="../../../../tests/bootstrap.php">
	<testsuites>
		<testsuite name="Live Updates Test Suite">
			<directory suffix="_test.php">./tests</directory>
			<exclude>./tests/functional</exclude>
		</testsuite>
		<testsuite name="Live Updates Functional Tests">
			<directory suffix="_test.php">./tests/functional</directory>
		</testsuite>
	</testsuites>
</phpunit>
